<div ng-app="app">
    <div ng-controller="NavbarController as navbarCtrl">
        <nav class="navbar navbar-inverse" ng-show="navbarCtrl.loggedIn">
            <div class="container-fluid">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href='/#!/profil'>Profil</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Akti <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#!/addAct">Dodaj</a></li>
                            <li><a href="#">Pretrazi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Izvoz akta <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#!/exportPDF">PDF</a></li>
                            <li><a href="/#!/exportXHTML">XHTML</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Amandmani <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#!/addAmandman">Dodaj</a></li>
                            <li><a href="#">Pretrazi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Sednica <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Pretrazi</a></li>
                        </ul>
                    </li>
                    <li ng-click="navbarCtrl.logout()" ><a href="/#/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                </ul>

            </div>
        </nav>


        <nav class="navbar navbar-inverse" ng-show="!navbarCtrl.loggedIn">
            <div class="container-fluid">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href='#'>Akti</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Izvoz akta <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#!/exportPDF">PDF</a></li>
                            <li><a href="/#!/exportXHTML">XHTML</a></li>
                        </ul>
                    </li>
                    <li><a href='/#!/register'>Registracija</a></li>
                    <li><a href="/#!/login"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
                </ul>

            </div>
        </nav>
    </div>
</div>

<!--<div ng-app="app">
    <div ng-controller="NavbarController as navbarCtrl">
        <div class="header">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-8 header_right">
                <span class="menu"></span>
                <div class="top-menu" ng-show="navbarCtrl.loggedIn">
                    <ul>
                        <li><a href="#!/addAct"><i class="fa fa-info"> </i> Dodaj akt</a></li>
                        <li><a href="#!/addAmandman"><i class="fa fa-home"> </i>Dodaj amandman</a></li>
                        <li><a href="#!/profil"><i class="fa fa-dollar"> </i>Profil</a></li>

                        <li  ng-click="navbarCtrl.logout()"><a href="#"><i class="fa fa-sign-in"> </i>Odjava</a></li>

                        <div class="clearfix"></div>
                    </ul>
                </div>


                <div class="top-menu" ng-show="!navbarCtrl.loggedIn">

                    <ul>
                        <li><a href="#!/listings"><i class="fa fa-home"> </i>Listings</a></li>
                        <li><a href="#!/login"><i class="fa fa-dollar"> </i>Prijava</a></li>
                        <li><a href="#!/register"><i class="fa fa-info"> </i> Registracija</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>


            </div>
            <div class="clearfix"> </div>
        </div>


        <div class="clearfix"> </div>
    </div>

</div>
</div>
</div>


</div> -->

