<div class="container">
    <form class="form-horizontal"  >
        <fieldset>

            <!-- Form Name -->
            <legend  class="text-center">Profil korisnika</legend>
            <center>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>

                </br></br>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">Korisnicko ime:</label>
                    <div class="col-md-4">
                        <input id="username" ng-model="predsednikCtrl.userData.korisnickoIme" name="username" type="text" class="form-control input-md" disabled>

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Ime:</label>
                    <div class="col-md-4">
                        <input id="name" ng-model="predsednikCtrl.userData.ime" name="name" type="text" class="form-control input-md" disabled>

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="surname">Prezime:</label>
                    <div class="col-md-4">
                        <input id="surname" ng-model="predsednikCtrl.userData.prezime" name="surname" type="text" class="form-control input-md" disabled>

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" ng-click="predsednikCtrl.redirect()" type="submit" class="btn btn-primary">Izmeni</button>
                    </div>
                </div>



                </br>
                <legend  class="text-center">Kreirane sednice</legend>
                <div class="col-md-9">



                    <div ng-repeat="s in predsednikCtrl.sednice">

                        <div class="form-group">
                            <label class="col-md-7 control-label">Datum sednice:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-md" value="{{s.datum | date : 'dd.MM.yyyy' }}"disabled>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">Redni broj:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-md" value=" {{s.redniBroj }}"disabled>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">Naziv:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-md" value="{{s.naziv }}"disabled>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div >
                                <button id="submit" name="submit" type="submit" class="btn btn-primary">Detalji</button>
                                <button id="submit" name="submit" ng-click="predsednikCtrl.aktiviraj(s.redniBroj)" class="btn btn-primary">Aktiviraj</button>
                                <button id="submit" name="submit" type="submit" class="btn btn-primary">Obrisi</button>
                            </div>
                        </div>
                        <legend> </legend>

                    </div>
                </div>
        </fieldset>
    </form>

</div>