<div class="container">
    <form class="form-horizontal" ng-submit="registerCtrl.register()" >
        <fieldset>

            <!-- Form Name -->
            <legend  class="text-center">Registracija korisnika</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Korisnicko ime:</label>
                <div class="col-md-4">
                    <input id="username" ng-model="registerCtrl.newUser.username" name="username" type="text" placeholder="unesite korisnicko ime" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Lozinka:</label>
                <div class="col-md-4">
                    <input id="password" ng-model="registerCtrl.newUser.password" name="password" type="password" placeholder="unesite lozinku" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="repeatpass">Ponovite lozinku:</label>
                <div class="col-md-4">
                    <input id="repeatpass" ng-model="registerCtrl.newUser.repeatpass" name="repeatpass" type="password" placeholder="ponovite lozinku" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Ime:</label>
                <div class="col-md-4">
                    <input id="name" ng-model="registerCtrl.newUser.name" name="name" type="text" placeholder="unesite ime..." class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="surname">Prezime:</label>
                <div class="col-md-4">
                    <input id="surname" ng-model="registerCtrl.newUser.surname" name="surname" type="text" placeholder="unesite prezime..." class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="role">Uloga</label>
                <div class="col-md-4">
                    <select id="role" style="line-height: 44px;
  							border: 1px solid #DAD8D8;
  							width: 370px;" ng-model="registerCtrl.newUser.userType" class="form-control" required>
                        <option style="color: #F94B4B;" ng-repeat="t in registerCtrl.types">{{t}}</option>
                    </select>
                </div>
            </div>


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">registrujte se</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>