<div class="container">
    <form class="form-horizontal" ng-submit="addActCtrl.addAct()" >
        <fieldset>

            <!-- Page title -->
            <legend  class="text-center">Dodavanje akta</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="naziv">Naziv:</label>
                <div class="col-md-4">
                    <input id="naziv" ng-model="addActCtrl.newAct.naziv" name="naziv" type="text" placeholder="unesite naziv akta" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="drzava">Drzava:</label>
                <div class="col-md-4">
                    <input id="drzava" ng-model="addActCtrl.newAct.drzava" name="drzava" type="text" placeholder="unesite naziv drzave" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="regija">Regija:</label>
                <div class="col-md-4">
                    <input id="regija" ng-model="addActCtrl.newAct.regija" name="regija" type="text" placeholder="unesite naziv regije" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="grad">Grad:</label>
                <div class="col-md-4">
                    <input id="grad" ng-model="addActCtrl.newAct.grad" name="grad" type="text" placeholder="unesite naziv grada" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4" align = "Center" >
                    <button  id="submit" name="submit" class="btn btn-primary">Dodaj akt</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>