<div class="container">
    <form class="form-horizontal"  >
        <fieldset>

            <!-- Page title -->
            <legend  class="text-center">Dodavanje akta</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="naziv">Naziv:</label>
                <div class="col-md-4">
                    <input id="naziv" ng-model="addActCtrl.newAct.naziv" name="naziv" type="text" placeholder="unesite naziv akta" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="drzava">Drzava:</label>
                <div class="col-md-4">
                    <input id="drzava" ng-model="addActCtrl.newAct.drzava" name="drzava" type="text" placeholder="unesite naziv drzave" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="regija">Regija:</label>
                <div class="col-md-4">
                    <input id="regija" ng-model="addActCtrl.newAct.regija" name="regija" type="text" placeholder="unesite naziv regije" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="grad">Grad:</label>
                <div class="col-md-4">
                    <input id="grad" ng-model="addActCtrl.newAct.grad" name="grad" type="text" placeholder="unesite naziv grada" class="form-control input-md" required="">
                </div>
            </div>
            <!-- Page title -->
            <legend  class="text-center"></legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="preambula">Preambula:</label>
                <div class="col-md-4">
                    <textarea id="preambula" ng-model="addActCtrl.newAct.preambula" name="preambula" type="text" placeholder="unesite preambulu" class="form-control input-md" required=""></textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <div  class="col-md-12" align = "Center" >
                    <button name="button1id" class="btn btn-primary" ng-click="addActCtrl.dodajDeoNaFront()" ng-disabled="addActCtrl.disableDodajDeo">Dodaj deo</button>
                    <button name="button2id" class="btn btn-primary" ng-click="addActCtrl.dodajClanNaFront()" ng-disabled="addActCtrl.disableDodajClan">Dodaj clan</button>
                </div>
            </div>

            <!-- Page title -->
            <label  class="text-center" ng-hide="">{{naslov1}}</label>



            <!--                              C L A N O V I                                             -->


            <div ng-repeat="clan in clanovi">
                <div class="well">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Naziv:</label>
                        <div class="col-md-4">
                            <input  ng-model="clanovi[$index].atributi.naziv" name="nazivClana" type="text" placeholder="unesite naziv clana" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Broj:</label>
                        <div class="col-md-4">
                            <input ng-model="clanovi[$index].atributi.br" name="brClana" type="text" placeholder="unesite broj clana" class="form-control input-md" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div  class="col-md-12" align = "Center" >
                            <button id="button1id" name="button1id" class="btn btn-primary" ng-click="addActCtrl.dodajStav_clan($index)" ng-disabled="clan.disableDodajStav">Dodaj stav</button>
                            <button id="button2id" name="button2id" class="btn btn-primary" ng-click="addActCtrl.dodajSadrzaj_clan($index)" ng-disabled="clan.disableDodajSadrzaj">Dodaj sadrzaj clana</button>
                        </div>
                    </div>


                    <!--                              SADRZAJ                                            -->
                    <div ng-repeat="s in clan.sadrzaj">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Sadrzaj clana:</label>
                            <div class="col-md-3">
                                <textarea ng-model="clan.sadrzaj[$index]" name="preambula" type="text" placeholder="unesite sadrzaj" class="form-control input-md" required=""></textarea>
                            </div>
                        </div>
                    </div>

                    <!--                              STAVOVI                                            -->
                    <div ng-repeat="s in clan.stavovi">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Stav:</label>
                        </div>
                        <div class="form-group">
                            <div  class="col-md-12" align = "Center" >
                                <button name="button1id" class="btn btn-warning" ng-click="addActCtrl.dodajTacku_stav_clan($parent.$index,$index)" ng-disabled="s.disableDodajTacku">Dodaj tacku (bar 2)</button>
                                <button name="button2id" class="btn btn-warning " ng-click="addActCtrl.dodajSadrzaj_stav_clan($parent.$index,$index)" ng-disabled="s.disableDodajSadrzaj">Dodaj sadrzaj stava</button>
                            </div>
                        </div>

                        <!--                              SADRZAJ STAVA                                           -->
                        <div ng-repeat="sad in s.sadrzaj">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Sadrzaj stava:</label>
                                <div class="col-md-3">
                                    <textarea ng-model="s.sadrzaj[$index]" name="preambula" type="text" placeholder="unesite sadrzaj" class="form-control input-md" required=""></textarea>
                                </div>
                            </div>
                        </div>

                        <!--                              TACKA STAVA                                           -->
                        <div ng-repeat="tacka in s.tacke" class="col-md-offset-1">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tacka:</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Broj:</label>
                                <div class="col-md-4">
                                    <input  ng-model="s.tacke[$index].atributi.br" name="brClana" type="text" placeholder="unesite broj tacke" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div  class="col-md-12" align = "Center" >
                                    <button name="button1id" class="btn-default" ng-click="addActCtrl.dodajPodtacku_tacka_stav_clan($parent.$parent.$index,$parent.$index,$index)" ng-disabled="tacka.disableDodajPodtacku">Dodaj podtacku  (bar 2)</button>
                                    <button name="button2id" class="btn-default " ng-click="addActCtrl.dodajSadrzaj_tacka_stav_clan($parent.$parent.$index,$parent.$index,$index)" ng-disabled="tacka.disableDodajSadrzaj">Dodaj sadrzaj tacke</button>
                                </div>
                            </div>
                            <!--                              SADRZAJ TACKE                                           -->
                            <div ng-repeat="sad in tacka.sadrzaj">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Sadrzaj tacke:</label>
                                    <div class="col-md-3">
                                        <textarea ng-model="tacka.sadrzaj[$index]" name="preambula" type="text" placeholder="unesite sadrzaj" class="form-control input-md" required=""></textarea>
                                    </div>
                                </div>
                            </div>

                            <!--                              PODTACKA TACKE                                           -->
                            <div ng-repeat="podtacka in tacka.podtacke" class="col-md-offset-1">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Podtacka:</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Broj:</label>
                                    <div class="col-md-4">
                                        <input ng-model="tacka.podtacke[$index].atributi.br" name="brClana" type="text" placeholder="unesite broj podtacke" class="form-control input-md" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div  class="col-md-12" align = "Center" >
                                        <button name="button1id" class="button" ng-click="addActCtrl.dodajAlineju_podtacku_tacka_stav_clan($parent.$parent.$parent.$index,$parent.$parent.$index,$parent.$index,$index)" ng-disabled="podtacka.disableDodajAlineju">Dodaj alineju</button>
                                        <button name="button2id" class="button " ng-click="addActCtrl.dodajSadrzaj_podtacka_tacka_stav_clan($parent.$parent.$parent.$index,$parent.$parent.$index,$parent.$index,$index)" ng-disabled="podtacka.disableDodajSadrzaj">Dodaj sadrzaj podtacke</button>
                                    </div>
                                </div>

                                <!--                              SADRZAJ PODTACKE                                           -->
                                <div ng-repeat="sad in podtacka.sadrzaj" class="col-md-offset-1">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Sadrzaj podtacke:</label>
                                        <div class="col-md-3">
                                            <textarea ng-model="podtacka.sadrzaj[$index]"  name="preambula" type="text" placeholder="unesite sadrzaj" class="form-control input-md" required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--                              SADRZAJ ALINEJE                                           -->
                                <div ng-repeat="alineje in podtacka.alineje" class="col-md-offset-1">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Sadrzaj alineje:</label>
                                        <div class="col-md-3">
                                            <textarea ng-model="podtacka.alineje[$index]" name="preambula" type="text" placeholder="unesite sadrzaj" class="form-control input-md" required=""></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



           <legend  class="text-center"></legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4" align = "Center" >
                    <button  ng-click="addActCtrl.addAct()" id="submit" name="submit" class="btn btn-primary">Print akt</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>