<legend></legend>
<div class="row">
    <div class="col-xs-3">

        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Filtriranje:</legend>

                <!-- Appended Input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Po nazivu:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input  name="buttondropdown" class="form-control" type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    trazi
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Appended Input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Po sadrzaju:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="buttondropdown" name="buttondropdown" class="form-control" type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    trazi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" >Po stanju:</label>
                    <div class="col-md-8">
                        <select name="selectbasic" class="form-control">
                            <option disabled selected value>-- izaberite stanje --</option>
                            <option value="1">U PROCEDURI</option>
                            <option value="2">U CELOSTI</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" >Po oblasti:</label>
                    <div class="col-md-8">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option disabled selected value>-- izaberite oblast --</option>
                            <option value="1">ZDRAVSTVO</option>
                            <option value="2">SKOLSTVO</option>
                            <option value="1">VOJSKA</option>
                            <option value="2">POLICIJA</option>
                            <option value="1">PRAVOSUDJE</option>
                            <option value="2">OSTALO</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>





    <div class="col-xs-4" style="background-color: #0000FF">
        <div class="form-group">
            <label class="col-md-4 control-label" for="akt">Izaberite amandman za izvrsavanje (privremeno)</label>
            <div class="col-md-4">
                <select id="akt" name="selectbasic" class="form-control"  ng-model="homeCtrl.amdSelected">
                    <option  ng-repeat="a in homeCtrl.amandmani" value="{{a}}">{{a.naziv}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <button ng-click="homeCtrl.applyAmandam()" class="btn btn-primary">dodaj stavku</button>
            </div>
        </div>
    </div>





    <div class="col-xs-4">
        <div ng-repeat="a in homeCtrl.akti">
            <div class="well" ng-if="a.stanje=='U_PROCEDURI' || a.stanje=='U_CELOSTI'">
                <b>{{a.naziv}}</b><br>
                <i>kreirao: {{a.kreirao}}</i></br>
                {{a.preambula.oblast}}</br>
                    drzava: {{a.drzava}}</br>
                    regija: {{a.regija}}</br>
                    grad: {{a.grad}}
            </div>

        </div>
    </div>
</div>