<div class="container">
    <form class="form-horizontal" ng-submit="poslanikCtrl.change()" >
        <fieldset>

            <!-- Form Name -->
            <legend  class="text-center">Profil korisnika</legend>
            <center>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>

                </br></br>

                <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Korisnicko ime:</label>
                <div class="col-md-4">
                    <input id="username" ng-model="poslanikCtrl.userData.korisnickoIme" name="username" type="text" class="form-control input-md" disabled>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Ime:</label>
                <div class="col-md-4">
                    <input id="name" ng-model="poslanikCtrl.userData.ime" name="name" type="text" class="form-control input-md" disabled>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="surname">Prezime:</label>
                <div class="col-md-4">
                    <input id="surname" ng-model="poslanikCtrl.userData.prezime" name="surname" type="text" class="form-control input-md" disabled>

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" type="submit" class="btn btn-primary">Izmeni</button>
                </div>
            </div>


                </br>
                <legend  class="text-center">Moji akti</legend>
                <div class="col-xs-10"  align="Center" >
                        <div class="col-xs-5" >
                        </div>
                    <div class="col-xs-4">
                        <div ng-repeat="a in poslanikCtrl.akti">
                            <div class="well" align="Center">
                                <b>{{a.naziv}}</b><br>
                                {{a.preambula.oblast}}</br>
                                drzava: {{a.drzava}}</br>
                                regija: {{a.regija}}</br>
                                grad: {{a.grad}}
                                id: {{a.id}}
                                predlozen: {{a.predlozen}}
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" >Sednica:</label>
                                <div class="col-md-1">
                                    <select style="line-height: 44px;
  							border: 1px solid #DAD8D8;
  							width: 200px;" ng-model="a.izabranaSednica" class="form-control" ng-disabled="a.predlozen">
                                        <option  style="color: #F94B4B;" ng-repeat="t in a.sednice" ng-if="t.stanje == 'ZAKAZANA'" required value="{{t.redniBroj}}">{{t.redniBroj + ", "}}{{t.datum | date: 'dd.MM.yyyy'}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  for="submit"></label>
                                <div ng-if="!a.predlozen">
                                    <button id="submit" name="submit" ng-click="poslanikCtrl.predlozi(a)" class="btn btn-primary">Predlozi</button>
                                </div>
                                <div ng-if="a.predlozen">
                                    <button id="submit" name="submit" ng-click="poslanikCtrl.otkaziPredlog(a)" class="btn btn-primary">Otkazi predlog</button>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </fieldset>
    </form>

</div>