<div class="container">
    <form class="form-horizontal"  >
        <fieldset>

            <!-- Page title -->
            <legend  class="text-center">Zakazivanje sednice</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="datum">Datum:</label>
                <div class="col-md-4">
                    <input id="datum" ng-model="addSednicaCtrl.datum" name="datum" type="date" placeholder="unesite datum sednice" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="redniBroj">Redni broj:</label>
                <div class="col-md-4">
                    <input id="redniBroj" ng-model="addSednicaCtrl.redniBroj" name="redniBroj" type="text" placeholder="unesite redni broj sednice u formatu bb - gggg" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="naziv">Naziv:</label>
                <div class="col-md-4">
                    <input id="naziv" ng-model="addSednicaCtrl.naziv" name="naziv" type="text" placeholder="unesite naziv sednice" class="form-control input-md" required="">
                </div>
            </div>


            <legend  class="text-center"></legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4" align = "Center" >
                    <button  ng-click="addSednicaCtrl.addSednica()" id="submit" name="submit" class="btn btn-primary">Gotovo</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>