<div class="container">
    <form class="form-horizontal"  ng-submit="addSednicaCtrl.change()" >
        <fieldset>

            <!-- Page title -->
            <legend style="border-bottom-color:grey"  class="text-center">Sednica je aktivirana</legend>
            </br>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-5 control-label" for="brojPrisutnih">Broj prisutnih poslanika:</label>
                <div class="col-md-4">
                    <input id="brojPrisutnih" ng-model="activateSednicaCtrl.brojPrisutnih" type="text" placeholder="Unesite broj prisutnih poslanika..." class="form-control input-md" required="">
                </div>
            </div>

            </br>
            <legend  class="text-center" style="border-bottom-color:white">Akti na razmatranju</legend>

            <div class="col-xs-8">
                <div ng-repeat="a in activateSednicaCtrl.akti">
                    <div class="form-group">
                        <label class="col-md-7 control-label">Naziv akta:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control input-md" value="{{a.naziv}}"disabled>
                        </div>
                        <button  id="submit" name="submit" class="btn btn-primary">Unesi rezultate</button>
                    </div>

                </div>
            </div>
            <legend  class="text-center">&nbsp</legend>




        </fieldset>
    </form>

</div>