<div class="container">
    <!--  <form class="form-horizontal"   > -->
    <fieldset>

        <!-- Page title -->
        <legend style="border-bottom-color:grey"  class="text-center">Treci krug glasanja</legend>
        </br>

        </br>
        <legend  class="text-center" style="border-bottom-color:white">Akti na razmatranju</legend>
        </br>
        <div class="col-md-12" >
            <div ng-repeat="a in thirdVotingCtrl.akti">
                <form>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Naziv akta:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-md" value="{{a.naziv}}" disabled>
                        </div>
                        <label class="col-xs-1 control-label">Za:</label>
                        <div class="col-xs-2">
                            <input  type="number" ng-model="a.za" required class="form-control input-md" >
                        </div>
                        <label class="col-md-1 control-label" >Protiv:</label>
                        <div class="col-md-2">
                            <input type="number" ng-model="a.protiv" required class="form-control input-md" >
                        </div>
                        <label class="col-md-1 control-label">Uzdrzani:</label>
                        <div class="col-md-2">
                            <input type="number" ng-model="a.suzdrzani" required class="form-control input-md">
                            <button ng-click="thirdVotingCtrl.voteThirdTime(a)" id="submit" name="submit" class="btn btn-primary">Zavrsi unos rezultata</button>
                        </div>
                    </div>
                </form>

                <legend  class="text-center">&nbsp</legend>
                </br>
            </div>
            <div class="col-md-2">
                <button ng-click="thirdVotingCtrl.finishSednica()" id="submit" name="submit" class="btn btn-primary">Gotovo glasanje</button>
            </div>
        </div>
    </fieldset>

    <!--    <div align = "Center">
            <button  id="submit" name="submit" class="btn btn-primary">Zavrsi unos rezultata</button>
        </div> -->
    <!--    </form> -->

</div>